!!! 5
%html{ lang: 'en' }
	= partial 'shared/head'

	%body{:class => page_classes}
		= partial 'shared/header'
	
		%main{ role: 'main' }

			%input{:onclick => "history.back(-1)", :type => "button", :value => "Back", :id => "back"}/

			%section
				%h1= current_page.data.title
				%time= pretty_date( current_page.data.date )


			%section

				= yield

		= partial 'shared/footer'

		= partial 'shared/footer-scripts'

