!!! 5
%html{ lang: 'en' }
  = partial 'shared/head'

  %body{:class => page_classes}
    = partial 'shared/header'

    %main{ role: 'main' }

      %section.row.bch
        .cell
          .well.well--l
            %h1= current_page.data.title
            %time.label.label--inverted= pretty_date( current_page.data.date )

      %section.row
        .cell
          .well.well--l
            = preserve do
              = yield
            = link_to "Back", '#', class: "btn btn--light mts", :onclick => 'history.back(); return false;'

    = partial 'shared/footer'

    = partial 'shared/footer-scripts'

