!!! 5
%html{ lang: 'en' }

	= partial 'shared/header'

	%body{:class => page_classes}

		= partial 'shared/articlenav'

		%input{:onclick => "history.back(-1)", :type => "button", :value => "Back", :id => "back"}/

		%section.article_header
			%h1= current_page.data.title
			%time= pretty_date( current_page.data.date )


		%section.main-content	

			= yield

			.addthis_native_toolbox

		= partial 'shared/footer'

		= partial 'shared/js'

		%script{:async => "async", :src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5541a4b7774ab16c", :type => "text/javascript"}

