!!! 5
%html{ lang: 'en' }

	= partial 'shared/header'

	%body{:class => page_classes}
		.wrapper
			= partial 'shared/nav'

			= partial 'shared/blog'

			= partial 'shared/work'

			= partial 'shared/about'

			= partial 'shared/skills'

			= partial 'shared/contact'

			= partial 'shared/footer'

			= partial 'shared/js'

			= yield

