%footer{:class => "row", :role => "contentinfo"}
	.well.well--s.well--m--m
		.split.split--center
			.split-cell
				= link_to '/assets/images/Resume2015.pdf', target: '_blank' do
					Resume
				%p
					&copy; Louis Novick 2015
			.split-cell
				= link_to 'http://www.twitter.com/louisnovick', target: '_blank' do
					= image_tag 'twitter.svg', alt: 'Twitter', class: 'icon'
				= link_to 'http://www.github.com/louisnovick', target: '_blank' do
					= image_tag 'github.svg', alt: 'Github', class: 'icon'	
				= link_to 'http://www.dribbble.com/louisnovick', target: '_blank' do
					= image_tag 'dribbble.svg', alt: 'Dribble', class: 'icon'


