---
title: Home
description: Web Design and Development || Orlando, FL.
---

%section.row.polybg
	.cell
		.g
			.g-b.g-b--m--4of4
				.well.well--l
					= image_tag 'louis.jpg', class: 'thumb mhc', alt: "Louis Novick Web Development", width: 140, height: 140
					.tac.tct
						%h1.mts
							Louis Novick
						.label.label--inverted 
							Web Developer, Designer, Student

%section.row.has-sector.has-skew--m.bdrt
	.cell
		.g.sector.tci
			.g-b.g-b--m--2of4.sector-item.sector-item--a
				.well.well--l.well--m--xl
					- post = get_posts().first
					%h3.h1 Latest Post
					= link_to post.data.title, post.url
					%p= post.data.description
					= link_to 'Read It', post.url
			.g-b.g-b--m--2of4.sector-item.sector-item--b
				.well.well--l.well--m--xl.pls--m
					- get_posts().drop( 0 ).each do | post |
						.posttitle
							= link_to post.data.title, post.url
						.datetime
							%time= pretty_date( post.data.date )




			
				

					


						


