---
title: Front End Developer
description: Web Design and Development || Orlando, FL.
---

%section.row.bc-knight
  .cell
    .well.well--l
      = image_tag 'louis.jpg', class: 'thumb mhc', alt: "Louis Novick Web Development", width: 140, height: 140
      .tac
        %h1.mts.tch
          Louis Novick
        %span.label.label--inline.tci.h4.typed


%section#recent.row.has-sector
  .cell
    .g.sector.tci
      .g-b.g-b--m--3of5.sector-item.sector-item--a
        .well.well--l.well--m--xl
          - post = get_posts().first
          %h3.label Latest Post
          %h1
            = link_to post.data.title, post.url
          %p= post.data.description
          = link_to 'Read It', post.url, class: 'btn'
      .g-b.g-b--m--2of5.sector-item.sector-item--b.tac
        .well.well--l
          .plf.pls--m.pbl
            = link_to '/projects', class: 'db' do
              = image_tag 'work.svg', alt: "Past Work", class: "icon"
            = link_to 'Past Work', '/projects', class: 'link link--bordered link--inverted tsl--m '
          .plf.pls--m
            = link_to '#contact', class: 'db active--slide' do
              = image_tag 'contact.svg', alt: "Contact me", class: "icon"
            = link_to 'Reach Me', '#contact', class: 'link link--bordered link--inverted tsl--m active--slide'

%section#contact.row.row--slide.bc-knight
  = link_to 'X', '#recent', class: 'h1 db mtxs active--slide row--close'
  .cell
    .well.well--m.well--m--l
      %form{:action => "//formspree.io/louis@louisnovick.com", :method => "POST", :class => "form", :id => "contactForm"}
        %p.label.tac Shoot me a message and I will get back to you as soon as I can.
        %fieldset.form-field
          %label.form-label(for="name") Name
          %input.form-input(type="text" name="name" id="name" required="true")

        %fieldset.form-field
          %label.form-label(for="email") Email
          %input.form-input(type="email" name="email" id="email" required="true")

        %fieldset.form-field
          %label.form-label(for="message") Transmission
          %textarea.form-input(id="message" name="message" rows="5" required="true")
        %input{:name => "_subject", :type => "hidden", :value => "New contact form submission!"}
        %input{:name => "_gotcha", :style => "display:none", :type => "text"}
        %input{:type => "submit", :value => "Send", :class => "btn"}

%section.row.bcs.mbm--m
  .cell.well.well--l
    %h3.label.mbm Blog
    %ul.list.list--divided
      - get_posts().take(5).each do | post |
        %li.list-item.split.split--responsive
          .split-cell.prs.twb
            = link_to post.data.title, post.url
          .split-cell
            %time.label= pretty_date( post.data.date )
    -#.mtl.mbl.tac
    -#  = link_to 'See All Posts', '#', class: 'btn btn--light'














