---
title: Home
description: Web Design and Development || Orlando, FL.
---

%section.blogmain
	%div.latestpost
		- post = get_posts().first
		%p.label Latest Post
		= link_to post.data.title, post.url, class: 'latestpost_title'
		%p.blogexc= post.data.description
		= link_to 'Read It', post.url, class: 'btn'
	%div.blogsection
		%p.label Blog
		- get_posts().drop( 0 ).each do | post |
			.posttitle
				= link_to post.data.title, post.url
			.datetime
				%time= pretty_date( post.data.date )

.worksection
	%h3.worktitle Some of my previous work
	%ul#work-grid.work-grid
		%li
			%a{:href => "http://cpricelawfirm.com/", "data-description" => "Price Law Firm, a bankruptcy and foreclosure law firm in Orlando, Florida was in need of a new website.  I was in charge of developing the site and laying out the content based on the design provided.", "data-largesrc" => "images/price.jpg", "data-title" => "Price Law Firm"}
				.work_cir
					.cir_text
						%h3 Price Law Firm
						%p Attorneys at Law
				.circle
				.arrow
		%li
			%a{:href => "http://www.tc-tx.com/", "data-description" => "Live Oak is a community in San Marcos, Texas.  They are dedicated to offering the best care possible for adults living with cognitive disabilities and brain injury.  I was tasked with creating this site.", "data-largesrc" => "images/liveoak.jpg", "data-title" => "Live Oak Living"}
				.work_cir
					.cir_text
						%h3 Live Oak
						%p Living Communities
				.circle
				.arrow
		%li
			%a{:href => "http://bmayrlaw.com/attorney-profile/", "data-description" => "Brent Mayr, an attorney with over 15 years of experience in Criminal Law and a board certification in the field of criminal justice by the Texas Board of Legal Specialization wanted a page on his site to capture his persona.  I was responsible for developing his attorney profile.", "data-largesrc" => "images/bmayr.jpg", "data-title" => "Brent Mayr"}
				.work_cir
					.cir_text
						%h3 Brent Mayr
						%p Criminal Lawyer
				.circle
				.arrow
		%li
			%a{:href => "#", "data-description" => "Site is currently in development.", "data-largesrc" => "images/comingsoon.jpg", "data-title" => "Orlando Pub Crawl"}
				.work_cir
					.cir_text
						%h3 Orlando Pub Crawl
						%p Orlando on all Fours
				.circle
				.arrow
		%li
			%a{:href => "https://twitter.com/Empirespace", "data-description" => "For one of my class assignments I needed to develop a twitter bot that would leverage an existing API.  Using the Star Wars API, 'Swapi', I programmed a twitter bot that produces quality Content related to the planets of Star Wars.", "data-largesrc" => "images/espace.jpg", "data-title" => "Empire Space"}
				.work_cir
					.cir_text
						%h3 Empire Space
						%p Star Wars Twitter Bot
				.circle
				.arrow
		%li
			%a{:href => "http://www.goaaba.org", "data-description" => "The Greater Orlando Asian American Bar Association needed a new website.  Development goals centered around giving the association a reliable outlet to post any new information as well as welcome new members to the group.", "data-largesrc" => "images/goaaba.jpg", "data-title" => "GOAABA"}
				.work_cir
					.cir_text
						%h3 GOAABA
						%p Greater Orlando Asian American Bar Association
				.circle
				.arrow
		%li
			%a{:href => "http://www.thetagalsuperhero5krun.com/", "data-description" => "Guardian Ad Litem required an informational site promoting their Super Hero 5k run.  I created the site with every intention of providing information in the most efficient way possible.", "data-largesrc" => "images/gal.jpg", "data-title" => "Super Hero 5k"}
				.work_cir
					.cir_text
						%h3 Guardian Ad Litem
						%p Super Hero 5k
				.circle
				.arrow
		%li
			%a{:href => "http://sulley.cah.ucf.edu/~mi249120/dig4104c/p2/#/", "data-description" => "Using middleman and angular.js, I aided in the development of this dynamic application which takes the user on a journey through Darwin's journey on the HMS Beagle. <a href='https://github.com/louisnovick/Darwins-Journey' class='githublink' target='_blank'> <img alt='Github' src='../../images/thumbs/github.svg'> </a>", "data-largesrc" => "images/darwin.jpg", "data-title" => "Voyage of the HMS Beagle"}
				.work_cir
					.cir_text
						%h3 Voyage of the HMS Beagle
						%p Learn About the Famous Voyage
				.circle
				.arrow

.aboutme
	%h3 Web Development is my passion. 
	%h5 I also love Coffee, Gaming and Traveling.
	%p 
		The knowledge that with the proper tools and vision I can build whatever I want fills me with a burning desire to keep learning and leveling up my skills.  I have been working as a Front End Developer for over a year now and have continued to improve upon my talents since my first line of HTML code over 2 years ago.  
		<br /><br />
		Two things that really interest me are data manipulation and User Experience Design.  There's a gold mine of knowledge on the web just waiting to be curated and presented in a way that interests users.  I can only hope that through improving my skills in both these fields I can create beautiful data visualizations that not only interest users, but present them with information they can both understand and find useful.  
		<br /><br />
		I am always looking for new ways to occupy my time, utilize my skills and learn so if you're looking for an extra hand on any of your projects, <a href="#contact" title="contactme">lets talk</a>.


.devskills#skills
	%h3 Things I have worked with
	%ul
		%li{:class => "skill", :title => "Git"}
			&#xe602;
		%li{:class => "skill", :title => "Ruby"}
			&#xe639;
		%li{:class => "skill", :title => "Ruby on Rails"}
			&#xe63b;
		%li{:class => "skill", :title => "PHP"}
			&#xe63d;
		%li{:class => "skill", :title => "mySQL"}
			&#xe604;
		%li{:class => "skill", :title => "JavaScript"}
			&#xe64e;
		%li{:class => "skill", :title => "Angular"}
			&#xe653;
		%li{:class => "skill", :title => "jQuery"}
			&#xe650;
		%li{:class => "skill", :title => "Node"}
			&#xe619;
		%li{:class => "skill", :title => "SCSS"}
			&#xe64b;
		%li{:class => "skill", :title => "CSS3"}
			&#xe649;
		%li{:class => "skill", :title => "HTML5"}
			&#xe636;
		%li{:class => "skill", :title => "Ghost"}
			&#xe61f;
		%li{:class => "skill", :title => "Wordpress"}
			&#xe60b;
		%li{:class => "skill", :title => "Grunt"}
			&#xe64c;
		%li{:class => "skill", :title => "Bower"}
			&#xe64d;
		%li{:class => "skill", :title => "Node Package Manager"}
			&#xe61e;
		%li{:class => "skill", :title => "Linux"}
			&#xe63a;
		%li{:class => "skill", :title => "Gulp"}
			&#xe663;
		%li{:class => "skill", :title => "Yeoman"}
			&#xe67a;
		%li{:class => "skill", :title => "iTerm"}
			&#xe695;

.contactsection#contact
	.formcontain
		%p Drop me a line if you have any questions or just want to talk!  
		%form{:action => "//formspree.io/louis@louisnovick.com", :method => "POST", :id => "contactForm"}
			%label{:for => "name"}
				Name
				%input{:type => "text", :name => "name", :class => "input_text", :required => true}
			%label{:for => "email"}
				Email
				%input{:name => "_replyto", :type => "email", :required => true}
			%label{:for => "message"}
				Message
				%textarea{:name => "message"}
			%input{:name => "_subject", :type => "hidden", :value => "New contact form submission!"}/
			%input{:name => "_gotcha", :style => "display:none", :type => "text"}/
			%input{:type => "submit", :value => "Send"}




			
				

					


						


