---
title: Projects and other recent work
description: Web Design and Development || Orlando, FL.
---

%section.row.bc-knight
  .cell
    .well.well--m
      .tac
        %h1.mts.tch
          Louis Novick
        %span.label.label--inline.tci.h4.typed

%section.row
  .cell
    .well.well--m.well--m--l.tac
      .g
        .g-b.g-b--l--1of3
          .card
            = link_to 'Work Title', '#', class: 'label link link--bordered'
        .g-b.g-b--l--1of3
          .card
            = link_to 'Work Title', '#', class: 'label link link--bordered'
        .g-b.g-b--l--1of3
          .card
            = link_to 'Work Title', '#', class: 'label link link--bordered'
        .g-b.g-b--l--1of3
          .card
            = link_to 'Work Title', '#', class: 'label link link--bordered'
        .g-b.g-b--l--1of3
          .card
            = link_to 'Work Title', '#', class: 'label link link--bordered'

